<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">LOGO placeholder</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pick For Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">My List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Browse</a>
                </li>
            </ul>
            <ul class="nav-item dropdown d-flex justify-content-end">
                <ul class="dropdown-menu">
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                
                    <div class="dropdown-center">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            placeholderUserName
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['/user-profile']" href="#">Profile Information</a></li>
                            <li class="nav-item">
                                <a class="dropdown-item" [routerLink]="['/password-form']" href="#">Change Password</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Log Out</a></li>
                        </ul>
                </div>
            
            </form>

            </ul>
        </div>
    </div>
</nav>