<div class="container my-3">
    <div>
        <h2>Watch History</h2>
        <div class="d-flex flex-wrap">
            <h3 *ngIf="!watchedList.length; else movieDisplay">Nothing to see here! You haven't marked any movies as watched yet.</h3>
        </div>
    </div>
</div>
<ng-template #movieDisplay>
    <app-movie-item *ngFor="let movie of watchedList" [movieItem]="movie" (markWatched)="deleteFromWatchHistory(movie)"></app-movie-item>
</ng-template>
<ng-template #ifLoggedOut>
    <h3>You need to be logged in to save movies to your watch history!</h3>
</ng-template>
