<!DOCTYPE html>
<html lang="en">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <div class="d-flex align-items-center">
    <div class="dropdown">
      <select class="form-select" aria-label="Genre">
        <option selected>Genre</option>
        <option value="1">Action</option>
        <option value="2">Adventure</option>
        <option value="3">Comedy</option>
        <option value="5">Horror</option>
        <option value="6">Kids</option>
      </select>
    </div>

    <div class="dropdown">
      <select class="form-select" aria-label="Decade">
        <option selected>Decade</option>
        <option value="1">70s</option>
        <option value="2">80s</option>
        <option value="3">90s</option>
        <option value="4">00s</option>
      </select>
    </div>

    <div class="dropdown">
      <select class="form-select" aria-label="Now Streaming">
        <option selected>Now Streaming</option>
        <option value="1">Netflix</option>
        <option value="2">Hulu</option>
        <option value="3">Prime</option>
      </select>
    </div>
  </div>

  <!-- Include Bootstrap JS and Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
