<footer class="footer">
    <p>Thanks for visiting our site. This site was created by the Angular in the Outfield group of the 2023 LaunchCode Liftoff Project</p>
    <p>Check out LaunchCodes available courses <a href="www.lauchcode.org">HERE</a>!</p>
    
    <p>These movie titles have been brought to you by the hard working providers of our APIs. Check them out <a href="https://rapidapi.com/SAdrian/api/moviesdatabase">HERE</a>!</p>
    <img src="../../assets/PopcornPicksLogo_Stacked.svg" alt="Popcorn Picks Logo" width="150"/>
</footer>

