<footer class="text-center bg-body-tertiary py-2">
    <p class="p-0 mb-2">Created by the Angular in the Outfield group in the 2023 LaunchCode Women+ Cohort</p>
    <p class="p-0 mb-2">Check out LaunchCode's available courses <a href="https://www.launchcode.org">here</a></p>
    <div class="d-flex justify-content-center mb-2">
        <img class="tmdb-logo me-2" src="../../assets/images/tmdbLogo.svg" alt="TMDB Logo">
        <p class="m-0 p-0">This product uses the <a href="https://www.themoviedb.org">TMDB API</a> but is not endorsed or certified by TMDB.</p>
    </div>
    <p class="p-0 mb-2">Streaming data provided by <a href="https://www.justwatch.com">JustWatch</a>. </p>
    <img src="../../assets/PopcornPicksLogo_Stacked.svg" alt="Popcorn Picks Logo" width="150"/>
</footer>

