<div [@fadeIn] class="card m-2" style="width: 15rem">
  <img
    *ngIf="movieItem.poster; else defaultImage"
    [src]="movieItem.poster"
    class="card-img-top"
    [alt]="movieItem.title"
  />
  <ng-template #defaultImage
    ><img
      src="assets/images/img-not-available.jpeg"
      class="card-img-top"
      [alt]="movieItem.title"
  /></ng-template>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{ movieItem.title }}</h5>
    </div>
    <div class="d-flex justify-content-between">
      <p>{{ movieItem.releaseYear }}</p>
      <p>{{ movieItem.runtimeMinutes }} minutes</p>
    </div>
    <div class="d-flex justify-content-between flex-wrap">
      <p class="genre-list" *ngFor="let genre of movieItem.genres">
        {{ genre }}
      </p>
    </div>
    <div
      *ngIf="movieItem.streamingSources; else elseNoStreaming"
      class="d-flex justify-content-start flex-wrap gap-1"
    >
      <img
        *ngFor="let source of movieItem.streamingSources"
        [src]="source"
        alt=""
        class="stream-logo rounded"
      />
    </div>
    <div class="d-flex justify-content-between">
      <a
        class="btn btn-link btn-sm text-nowrap"
        data-bs-toggle="collapse"
        [href]="'#' + 'movie' + movieItem.id"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        More Details
      </a>
      <button class="btn btn-sm btn-secondary rounded-pill" (click)="onWatchedClick(movieItem)">Watched</button>
      <img src="assets/images/plus.svg" alt="save for later" (click)="onSaveClick(movieItem)" />
    </div>
  </div>
  <div class="collapse" [id]="'movie' + movieItem.id">
    <div class="card-body">
      <p><span class="fw-bold">Director: </span>{{ movieItem.director }}</p>
      <p>
        <span class="fw-bold">Cast: </span>
        <ng-container *ngFor="let actor of movieItem.cast; let last = last">
          {{ actor }}<span *ngIf="!last">, </span>
        </ng-container>
      </p>
      <p>{{ movieItem.plot }}</p>
    </div>
  </div>
</div>

<ng-template #elseNoStreaming
  ><p class="fst-italic no-streaming">
    Not available on subscription streaming. May be available to buy or rent.
  </p></ng-template
>
