<div>

  <ng-template #editMode>
    <form (ngSubmit)="saveChanges()">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="editedUser.name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="editedUser.email" required>

      <button type="submit" class="btn btn-link">Save Changes</button>
      <a href="#" class="btn btn-link" (click)="cancelEdit()">Cancel</a>
    </form>
  </ng-template>
</div>
