<div class="container text-center">
  <h1>Pick a movie for me!</h1>
  <h5>
    Not sure what you want to watch? Answer a few simple questions and we'll
    pick a movie for you!
  </h5>
</div>
<div class="container">
  <form action="">
    <label>
      Which streaming services do you have?
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="8"
          id="netflix"
        />
        <label class="form-check-label" for="netflix"> Netflix </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="15" id="hulu" />
        <label class="form-check-label" for="hulu"> Hulu </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="9" id="amazon" />
        <label class="form-check-label" for="amazon"> Amazon Prime </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="2" id="apple" />
        <label class="form-check-label" for="apple"> Apple TV </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="337"
          id="disney"
        />
        <label class="form-check-label" for="disney"> Disney Plus </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="386"
          id="peacock"
        />
        <label class="form-check-label" for="peacock"> Peacock </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1899" id="hbo" />
        <label class="form-check-label" for="hbo"> HBO Max </label>
      </div>
    </label>
    <label
      >Which genre fits your mood?
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genres"
          id="action"
          value="28"
        />
        <label class="form-check-label" for="action"> Action </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genres"
          id="comedy"
          value="35"
        />
        <label class="form-check-label" for="comedy"> Comedy </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genres"
          id="romance"
          value="10749"
        />
        <label class="form-check-label" for="romance"> Romance </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genres"
          id="scifi"
          value="878"
        />
        <label class="form-check-label" for="scifi"> Science Fiction </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genres"
          id="horror"
          value="27"
        />
        <label class="form-check-label" for="horror"> Horror </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genres"
          id="music"
          value="10402"
        />
        <label class="form-check-label" for="music"> Music </label>
      </div>
    </label>
    <label
      >How much time do you have?
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="runtime"
          id="short"
          value="90"
        />
        <label class="form-check-label" for="short">
          Less than 90 minutes
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="runtime"
          id="medium"
          value="100"
        />
        <label class="form-check-label" for="medium">
          Between 90 minutes to 120 minutes
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="runtime"
          id="long"
          value="120"
        />
        <label class="form-check-label" for="long"> Over 120 minutes </label>
      </div>
    </label>
    <label
      >Do you want a recent hit or a classic?
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decade"
          id="new"
          value="2020"
        />
        <label class="form-check-label" for="new"> 2020 - Present </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decade"
          id="two-thousands"
          value="2000"
        />
        <label class="form-check-label" for="two-thousands"> 2000 - 2019 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decade"
          id="eighties"
          value="1980"
        />
        <label class="form-check-label" for="eighties"> 1980 - 1999 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decade"
          id="sixties"
          value="1960"
        />
        <label class="form-check-label" for="sixties"> 1960 - 1979 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decade"
          id="forties"
          value="1940"
        />
        <label class="form-check-label" for="forties"> 1940 - 1959 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decade"
          id="twenties"
          value="1920"
        />
        <label class="form-check-label" for="twenties"> 1920 - 1939 </label>
      </div>
    </label>
  </form>
</div>
